<!DOCTYPE html>
<html>

      <head>
            <title>产品发布系统</title>
            <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
            <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
            <%= csrf_meta_tags %>
      </head>

      <body>
              <div id="banner">
                <h1>产品发布系统</h1>
              </div>
              <div id="right-panel">
                      <%= link_to '产品列表',products_path %><br>
                  		<%= link_to '种类列表',ptypes_path%><br>
                  		<%= link_to '发布产品',new_product_path %><br>
                  		<%= link_to '增加分类',new_ptype_path %><br>
              </div>
              <div class="container">
                  <%= yield %>
              </div>
              <div id="footer">
              		Copyright zhaole@vip.qq.com &copy; 2015
              </div>
      </body>
</html>
