<p id="notice"><%= notice %></p>

<h2>种类列表</h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>名称</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ptypes.each do |ptype| %>
      <tr>
        <td><%= ptype.name %></td>
        <td><%= link_to '详情', ptype %></td>
        <td><%= link_to '编辑', edit_ptype_path(ptype) %></td>
        <td><%= link_to '删除', ptype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @ptypes %>
<br>
